.centralizado p{
	text-align: center;

}

.form-createPlano {
	padding: 10px;
	background-color: rgb(216, 240, 243);
}
.form-createPlano option{
	background-color: rgb(204, 235, 255);
}
.optionTrue {
	color: rgb(83, 255, 26);
}
.statusTrue {
	color: rgb(83, 255, 26);
}
.optionFalse {
	color: rgb(255, 77, 77);
}
.statusFalse {
	color: rgb(255, 77, 77);
}

#tableCreatePlano {
	background-color: rgb(230, 243, 255);
}

/**CSS maskara de telephone**/
input#phone {
  font-family: monospace;
}
label {
  display: block;
}
div {
  margin: 0 0 1rem 0;
}
tbody#planos-list tr td{
	text-align: center;
}

h1,h2,h3,h4,h5,h6 .bg-and-text-color-title{
	background-color: rgba(52,58,64,0.8);
	color: rgba(255,255,255,1);
	border-radius: 10px;
}

.bg-and-color-text-form{
	background-color: rgba(52,58,64,1);
	color: rgba(255,255,255,1);
	border-radius: 10px;
	padding: 10px;
}